.font-normal{
    font-weight:normal !important;
}

.p-3px{
    padding: 3px;
}

.mb-0point5{
    margin-bottom: 0.5%;
}

div.radio label, div.checkbox label {
    padding-bottom: 10px;
}

.mt-none{
    margin-top: 0 !important;
}

.mb-none{
    margin-bottom: 0 !important;
}

.text-capitalize {
    text-transform: capitalize;
}

.p-0 {
    padding: 0px;
}

.avatar-panel {
    padding-right: 0;
    border: 1px solid #2f7027;
}

.avatar-desc {
    padding: 5% 2%;
}

div.divider{
    border-bottom: 1px solid #80808052;
}

thead tr td{
    font-weight: bold;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

a.list-group-item, button.list-group-item {
    color: #000 !important;
}

.mt-1{
    margin-top: 2%;
}

.mt-2{
    margin-top: 2%;
}

.d-inline-block{
    display: inline-block;
}

#log-book{
    font-size: 12px;
    padding: 5px;
    height: 190px;
    overflow-y: scroll;
}

#log-book p{
    border-bottom: 1px solid grey
}

.mr-1{
    margin-right: 1%;
}

.list-group-item-action.active{
    color: #ffffff !important;
}

.nav-tabs li a {
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bolder;
}